@model List<PizzaMVC.Models.Pizza>

@{
    ViewBag.Title = "ListofPizzas";
}

<div class="row">
    <div class="col-md-4">
        <br />
        <img src="~/pictures/Terry.png" alt="pizza" height="230" width="100%">
    </div>
    <div class="col-md-8">
        <br />
        @using (Html.BeginForm("ListofPizzas", "Pizza"))
        {
            @Html.TextBox("searchCriteria")
            <input type="submit" value="Search" />
        }
        <h2>Whats on the menu this week!</h2>
        <table class="table-striped table-bordered table-responsive">
            @foreach (var pizza in Model)
            {
                <tr>
                    <td>@pizza.PizzaSize    </td>
                    <td>@pizza.TypeOfPizza    </td>
                    <td>@pizza.Toppings    </td>
                    <td>@pizza.PizzaPrice    </td>
                    <td>@Html.ActionLink("Details", "Details", new { id = pizza.Pizza_ID })   </td>
                </tr>
                }
        </table> 
    </div>
</div>

