@model PizzaMVC.Models.Pizza

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pizza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfPizza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfPizza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PizzaPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PizzaPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toppings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toppings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PizzaSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PizzaSize)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pizza_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
